[class^='icon-'], [class*=' icon-'] {
    inline-size: 40px;
    block-size: 40px;
    background-size: cover;
    display: inline-block;
}


.icon-home {
    background-image: url(../icons/home.svg);
}

.icon-home-active {
    inline-size: 80px;
    block-size: 80px;
    background-image: url(../icons/home-active.svg);
}

